<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div id="app" v-cloak>
        <!-- 单选框 -->
      <label for="">
          <input type="checkbox" id="agree" v-model='isAgree'>同意协议
      </label>
      <h2>你选择的是{{isAgree}}</h2>
      <BUTTOn :disabled='!isAgree'>下一步</BUTTOn>
      <br>
      <!-- 多选框 -->
      <!-- <label for=""> -->
          <input type="checkbox" value="篮球" v-model='hobbies'>篮球
          <input type="checkbox" value="足球" v-model='hobbies'>足球
          <input type="checkbox" value="乒乓球" v-model='hobbies'>乒乓球
          <input type="checkbox" value="羽毛球" v-model='hobbies'>羽毛球
     <h2>您的爱好是：{{hobbies}}</h2>
          <!-- </label> -->
    </div>
<script src="./vue.js"></script>
<script>
    //在vue解析之前，div中有一个属性v-cloak
     //在vue解析之后，div中没有一个属性v-cloak
    setTimeout(() => {
        const app=new Vue({
    el:'#app',
    data:{
        message:'你好',
        url:'<a href="http://www.baidu.com">百度一下</a>',
        isAgree:false,
        hobbies:[]

    }
    
})
    }, 1000);


</script>
</body>
</html>